/* write your CSS in here */

.help{
	font-size: small;
	color: white;
}
.required-text{
	font-size: .9em;
	color: red;
}

.cancel{
	float: right;
	margin-top: 20px;
	margin-right: 75px;
	font-size: .9em;
}

.errors{
	color: red;
	font-size: small;
}